@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-large {
  max-width: 1262px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
